body {
  background: rgb(37, 39, 163);
}
h1 {
  color: rgb(148, 217, 235);
}
h4 {
  color: rgb(148, 217, 235);
}

div {
  margin: 10px;
  color: yellow;
  border-style: dotted;
}
p {
  border: black;

  color: yellow;
}

p {
  clear: left;
}
