body {
  background: rgb(146, 223, 146);
}
h1 {
  background: red;
  color: blue;
}

p {
  border: thin black;
  background-color: green;
  color: blue;
}

div {
  display: inline;
  width: 100px;
  height: 150px;
  border: thin black;
}
